{
  "extends": [
    "eslint-config-react-app",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "prettier",
    "cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "components",
            "./src/components"
          ],
       
          [
            "containers",
            "./src/containers"
          ],
     
          [
            "router",
            "./src/router"
          ],
    
          [
            "store",
            "./src/store"
          ],
          [
            "utils",
            "./src/utils"
          ],
          [
            "theme",
            "./src/theme"
          ],
          [
            "static",
            "./src/static"
          ],
          [
            "modules",
            "./src/modules"
          ],
           [
            "apis",
            "./src/apis"
          ]
        ],
        "extensions": [
          ".js",
          ".json"
        ]
      }
    }
  },
    "rules": {
      "prettier/prettier": "error",
      "jsx-a11y/href-no-hash": 0,
      "no-console": [
        1,
        {
          "allow": [
            "warn",
            "error"
          ]
        }
      ],
      "no-debugger": [ "warn" ],
      "import/imports-first": ["error", "absolute-first"]
    }
  }